
.plusstream_header
{
}

.plusstream_header h2
{
	padding: 15px 0 0 20px;
	font-weight: bold;
	font-size: 28px;
}
.plusstream_header a 
{
	margin-top: 5px;
	margin-left: 10px;	
}

ul.plusstreams
{
	word-wrap: break-word;
}


ul.plusstreams li
{
	padding-top:10px;
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	position:relative;	
	width:inherit;
}

ul.plusstreams li:hover
{
	background:hsl(0, 0%, 95%);	
}

ul.plusstreams li img
{
	float:left;
}

ul.plusstreams li p
{
	margin-left:10px;
	font-size:14px;
	float:right;
	width:330px;
	line-height:16px;
}

ul.plusstreams li a {
	color: #36C;
	cursor: pointer;
	text-decoration: none;
}

ul.plusstreams li span.proflinkPrefix {
	color: #999;
}
