
/*
	* Sidebar
*/
aside
{
	background: url('/images/sidebar_bg.png');
	repeat:both;
	width: 180px;
	height:inherit;
	float:left;
}

aside #menu
{
}

aside #menu li
{
	padding:10px;
	border-bottom:1px;
	 -webkit-border-image:url('/images/border_bottom_menu.png') 100 100 100 100 repeat;
	padding-left:20px;
}

aside #menu li.selected
{
	background-color:#2A2A2A;
}

aside #menu li.selected a
{
	color: white !important;
	text-shadow: 2px 2px 2px #000;
}

aside #menu li a
{	
	display: inline-block;
	width:180px;
	color:#867f7f;
	font-weight:bold;
	cursor: pointer;
	
	
}

aside #menu li span
{	
	vertical-align:middle;
	display:inline-block;
	margin-top:-4px;
	width:24px;
	height:24px;
	background:url('/images/icons/icons.png');
	margin-right:10px;
	background-repeat:no-repeat;
}

aside #menu li.selected span ,aside #menu li:hover span
{
	background-position-y:0px !important;
}
aside #menu li:hover a
{
	color:#fff;
}

aside #menu li#plusstream span
{
	background-position: -216px -24px;	
}
aside #menu li#live span 
{
	background-position: 0 -24px;
}
aside #menu li#stream span
{
      	background-position:-168px -24px;
	
}

aside #menu li#watching span
{
	background-position:-120px -24px;
}

aside #menu li#statistics span
{
	background-position:-24px -24px;
}

aside #menu li#bugs span
{
        background-position:-48px -24px;
}

aside #menu li#twitter span
{
        background-position:-96px -24px;
}

aside #menu li#team span
{
        background-position:-72px -24px;
}

aside #menu li#donate span
{
        background-position:-192px -24px;
}

#tab_bugs h2
{
	padding-left: 20px;
	padding-top: 20px;
	color: #4AB1D3;
	font-weight:bold;
	font-size:26px;
}

#tab_bugs #contact
{
	padding-left: 20px;
	padding-top: 20px;
}

#tab_bugs #contact p
{
	padding-bottom:10px;
}

aside .logo
{	margin-top:5px;
	margin-bottom:5px;
	height:30px;
	margin-left: 74px;
}

.ads
{
	margin-bottom:10px;
	height: 154px;
}

.new_hangout
{
	font-size:14px;
	line-height: 34px;
}

.new_hangout span
{
	margin-top:3px;
	float:left;
}
.new_hangout span span
{
	width:24px;
	height:24px;
	background:url('/images/icons/icons.png');
	display:inline-block;
	background-position:-0px 0px;
	margin-top:4px;
	margin-right: 8px;
	
	
}

.settings
{
	margin-top: 100px;
	height:100px;
	margin-left:10px;
	-webkit-border-image:url('/images/border_bottom_menu.png') 100 100 100 100 repeat;
	border-top:2px solid;

}

.settings p
{
  font-size:12px;
  color:#fff;
  padding-top:15px;
  margin-left:-5px;	
}
.settings .setting
{
	width:24px;
	height:24px;
	background:url('/images/icons/icons.png');
	display:block;
	float:right;
	margin-right: 18px;
	background-position:-144px 0px;
	margin-top:10px;
}
