/*
	* Set design for general elements
*/
body {
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	width:610px;
	height:580px;
	overflow:hidden;
}

/*
	* a:link	unvisited links
	* a:visited	visited links
	* a:hover 	user hovers
	* a:active	active links
*/
a,a:link:visited:hover:active {
	text-decoration:none;
	color:#999;
}

strong, bold {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	color: #4AB1D3;
}

/*
	* Small misc classes
*/
.clear {
	clear:both;
}

.rounded_image a > img
{
	-webkit-border-radius: 5px;
}

/*
	* Stylish Scrollbar, Used in Google Docs
*/
::-webkit-scrollbar {
	background:transparent;
	overflow:visible;
	width:15px;
}
::-webkit-scrollbar-thumb {
	background-color:rgba(0,0,0,0.2);
	border:solid #fff;
}
::-webkit-scrollbar-thumb:hover {
	background:rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:horizontal {
	border-width:4px 6px;
	min-width:40px;
}
::-webkit-scrollbar-thumb:vertical {
	border-width:6px 4px;
	min-height:40px;
}
body::-webkit-scrollbar-track-piece {
	background-color:#fff;
}
::-webkit-scrollbar-corner {
	background:transparent;
}
.stylish-scrollbar-dark::-webkit-scrollbar-thumb {
	background-color:rgba(255,255,255,0.6);
}
.stylish-scrollbar-dark::-webkit-scrollbar-thumb:hover {
	background-color:rgba(255,255,255,0.8);
}

/*
	* Layout
*/
.container
{
	overflow:hidden;
	width:inherit;
	height:inherit;
}

.button:active
{
	
	
    box-shadow:0 0 0 darkred,0 0 20px rgba(0,0,0,0.5) inset;
    -moz-box-shadow:0 0 0 darkred,0 0 20px rgba(0,0,0,0.5) inset;
    -webkit-box-shadow:0 0 0 darkred,0 0 20px rgba(0,0,0,0.5) inset;

}
a
{
cursor:pointer !important;	
 	
}
.button:hover{
	
	background:#09F;  
	
}
.button
{
	
	background-color: #4D90FE;
background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
background-image: linear-gradient(top,#4d90fe,#4787ed);
border: 1px solid #3079ED;
color: white;
cursor:pointer !important;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
cursor: default;
font-size: 11px;
font-weight: bold;
text-align: center;
height: 27px;
line-height: 27px;
min-width: 54px;
outline: 0;
padding: 0 8px;


position: relative;
display: -moz-inline-box;
display: inline-block;
	
}
